html {
    height: 100%;
}

body {
    background-image: linear-gradient(to bottom right, rgb(219, 136, 136), rgb(81, 31, 175));
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    align-items: center;
    flex: 1 1 auto;
}

.banner {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(219, 136, 136, 0.192);
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.bannerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
    padding: 8px 12px 8px 12px;
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.849);
}

h1 {
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-size: 36px;
    margin: 2px 8px 4px 8px;
}

h2 {
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    font-size: 15px;
    margin: 3px 5px 5px 5px;
}

img {
    height: 100px;
}

.msgBox {
    position: static;
    top: 20px;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    margin: 100px 50px 30px 50px;
    margin-top: 100px;
    background-color: rgba(201, 178, 212, 0.548);
    min-height: 300px;
    max-height: 750px;
    width: 300px;
    overflow-y: scroll;
    flex: 1 1 auto;
}

.robotmessage {
    display: flex;
    justify-content: flex-start;
    justify-self: left;
    flex-direction: column;
    overflow-x: scroll;
    margin: 20px;
    background-color: rgb(165, 56, 123);
    width: 200px;
    height: auto;
    padding: 1rem;
    border-radius: 5px;
    color: whitesmoke;
    font-family: 'Inconsolata', monospace;

}

.message {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-self: right;
    flex-wrap: wrap;
    overflow-x: auto;
    margin: 20px;
    background-color: rgb(120, 82, 189);
    width: 200px;
    height: auto;
    padding: 1rem;
    align-items: flex-end;
    border-radius: 5px;
    color: whitesmoke;
    font-family: 'Inconsolata', monospace;
}

.thinking {
    display: flex;
    justify-content: flex-start;
    justify-self: left;
    flex-direction: column;
    overflow-x: scroll;
    margin: 20px;
    background-color: rgb(165, 56, 123);
    width: 200px;
    height: auto;
    padding: 1rem;
    border-radius: 5px;
    color: whitesmoke;
    font-family: 'Inconsolata', monospace;
}

.time {
    font-size: smaller;
    color: rgb(182, 198, 214);
    font-family: 'Rajdhani', sans-serif;
}

.robotTime {
    font-size: smaller;
    color: rgb(182, 198, 214);
    justify-content: flex-end;
    font-family: 'Rajdhani', sans-serif;
}

#userInput {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#userSub {
    padding-left: 12px;
}

input {
    border-radius: 15px;
    border-style: hidden;
    background-color: rgba(238, 229, 104, 0.555);
    margin: 0px 10px 90px 10px;
    height: 36px;
    width: 300px;
    font-family: 'Inconsolata', monospace;
    outline-color: rgb(219, 136, 136);
    font-size: 16px;
}

::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.925);
    text-align: center;
}

.inputClicked {
    background-color: rgba(255, 255, 255, 0.918);
    outline-color: rgba(219, 136, 136, );
}

.arrow {
    height: 48px;
    width: 48px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
}

.arrow :hover {
    cursor: pointer;
    height: 60px;
    width: 60px;
    margin-bottom: 24px;
    margin-right: 24px;

}

.footer {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(81, 31, 175, 0.192);
    width: 100%;
    margin: 0 auto;
    height: 50px;
    font-size: 13px;
    color: lightgray
}

.footerContent {
    display: flex;
    justify-content: flex-end;
    font-family: 'Inconsolata', monospace;
    font-weight: 200;
    margin: 0 auto;
}

.hide {
    display: none;
}